# Collect data from Twitter using Twitter API

## import packages and configure twitter api

In [1]:
# import libraries

# !pip install tweepy
import tweepy as tw
print(tw.__version__)

4.10.0

In [2]:
# !pip install pandas
import pandas as pd
import json
import time
import csv
import requests
print(requests.__version__)

2.28.1

In [3]:
# import keys from a .gitignore file

import keys

In [4]:
# assign the values accordingly

client = tw.Client(
    wait_on_rate_limit = True,
    consumer_key = keys.consumer_key,
    consumer_secret = keys.consumer_secret,
    access_token = keys.access_token,
    access_token_secret = keys.access_token_secret,
    bearer_token = keys.bearer_token,
)

In [5]:
# check connection
# client = tw.Client(bearer_token)
client

## get the list of news media twitter username

In [6]:
# read a csv file with selected news media's twitter username 

news_media_basic_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/news_media_twitter_username.csv')
news_media_basic_data

             news_media twitter_username us_or_foreign general_or_political
0              ABC News              ABC            US              General
1              ABC News      ABCPolitics            US            Political
2              ABC News      ABCNewsLive            US              General
3              BBC News         BBCWorld       Foreign              General
4              BBC News      BBCBreaking       Foreign              General
5              BBC News          BBCNews       Foreign              General
6              BBC News  BBCNorthAmerica       Foreign              General
7              CBS News          CBSNews            US              General
8              CBS News      CBSPolitics            US            Political
9              CBS News      CBSNewsPoll            US            Political
10                  CNN              CNN            US              General
11                  CNN           cnnbrk            US              General
12                  CNN      CNNPolitics            US            Political
13             Fox News          FoxNews            US              General
14             Fox News  foxnewspolitics            US            Political
15            Euro news         euronews       Foreign              General
16                MSNBC            MSNBC            US              General
17             NBC News          NBCNews            US              General
18             NBC News      NBCPolitics            US            Political
19       New York Times          nytimes            US              General
20       New York Times      nytpolitics            US            Political
21                  NPR              NPR            US              General
22                  NPR      nprpolitics            US            Political
23             Sky news          SkyNews       Foreign              General
24            USA Today         USATODAY            US              General
25            USA Today       usatodayDC            US              General
26  Wall Street Journal              WSJ            US              General
27  Wall Street Journal        WSJusnews            US              General
28      Washington Post   washingtonpost            US              General

In [7]:
news_media_twitter_username_list = news_media_basic_data['twitter_username'].tolist()
news_media_twitter_username_list

# for testing
# news_media_twitter_username_list = ["ABC","ABCPolitics","ABCNewsLive"]
# news_media_twitter_username_list

['ABC',
 'ABCPolitics',
 'ABCNewsLive',
 'BBCWorld',
 'BBCBreaking',
 'BBCNews',
 'BBCNorthAmerica',
 'CBSNews',
 'CBSPolitics',
 'CBSNewsPoll',
 'CNN',
 'cnnbrk',
 'CNNPolitics',
 'FoxNews',
 'foxnewspolitics',
 'euronews',
 'MSNBC',
 'NBCNews',
 'NBCPolitics',
 'nytimes',
 'nytpolitics',
 'NPR',
 'nprpolitics',
 'SkyNews',
 'USATODAY',
 'usatodayDC',
 'WSJ',
 'WSJusnews',
 'washingtonpost']

## Call Twitter API v2

### get user details

In [8]:
# call twitter API v2 to get user id and other user information for the user in the list

def get_users_details(usernames):
        users_details = client.get_users(usernames=usernames, user_fields=["created_at","location","protected","public_metrics","verified"])
        return users_details

twitter_user_details = get_users_details(news_media_twitter_username_list)
twitter_user_details

Response(data=[<User id=28785486 name=ABC News username=ABC>, <User id=16815644 name=ABC News Politics username=ABCPolitics>, <User id=384438102 name=ABC News Live username=ABCNewsLive>, <User id=742143 name=BBC News (World) username=BBCWorld>, <User id=5402612 name=BBC Breaking News username=BBCBreaking>, <User id=612473 name=BBC News (UK) username=BBCNews>, <User id=69329527 name=BBC North America username=BBCNorthAmerica>, <User id=15012486 name=CBS News username=CBSNews>, <User id=18767699 name=CBS News Politics username=CBSPolitics>, <User id=270508448 name=CBS News Poll username=CBSNewsPoll>, <User id=759251 name=CNN username=CNN>, <User id=428333 name=CNN Breaking News username=cnnbrk>, <User id=13850422 name=CNN Politics username=CNNPolitics>, <User id=1367531 name=Fox News username=FoxNews>, <User id=16032925 name=Fox News Politics username=foxnewspolitics>, <User id=25067168 name=euronews username=euronews>, <User id=2836421 name=MSNBC username=MSNBC>, <User id=14173315 name=NBC News username=NBCNews>, <User id=11856032 name=NBC Politics username=NBCPolitics>, <User id=807095 name=The New York Times username=nytimes>, <User id=14434063 name=NYT Politics username=nytpolitics>, <User id=5392522 name=NPR username=NPR>, <User id=5741722 name=NPR Politics username=nprpolitics>, <User id=7587032 name=Sky News username=SkyNews>, <User id=15754281 name=USA TODAY username=USATODAY>, <User id=7998482 name=USA TODAY Politics username=usatodayDC>, <User id=3108351 name=The Wall Street Journal username=WSJ>, <User id=28135853 name=WSJ U.S. News username=WSJusnews>, <User id=2467791 name=The Washington Post username=washingtonpost>], includes={}, errors=[], meta={})

In [10]:
# create a list of records
twitter_user_details_lst = []

# iterate over each users and corresponding user details
for user in twitter_user_details.data:
    user_info = {
        'user_id': user.id,
        'user_name': user.name,
        'user_username': user.username,
        "user_created_at" : user.created_at,
        "user_location" : user.location,
        "user_protected" : user.protected,
        "user_followers_count" : user.public_metrics["followers_count"],
        "user_following_count" : user.public_metrics["following_count"],
        "user_tweet_count" : user.public_metrics["tweet_count"],
        "user_listed_count" : user.public_metrics["listed_count"],
        "user_verified" : user.verified
    }
    twitter_user_details_lst.append(user_info)

# create dataframe from the extracted records
twitter_user_details_df = pd.DataFrame(twitter_user_details_lst)
# display the dataframe
twitter_user_details_df

,user_id,user_name,user_username,user_created_at,user_location,user_protected,user_followers_count,user_following_count,user_tweet_count,user_listed_count,user_verified
0,28785486,ABC News,ABC,2009-04-04 12:40:32+00:00,New York City / Worldwide,False,17637543,486,392806,66090,True
1,16815644,ABC News Politics,ABCPolitics,2008-10-16 22:43:16+00:00,"Washington, DC",False,1079082,473,192649,8493,True
2,384438102,ABC News Live,ABCNewsLive,2011-10-03 17:47:38+00:00,None,False,95939,242,36702,2238,True
3,742143,BBC News (World),BBCWorld,2007-02-01 07:44:29+00:00,"London, UK",False,37686088,18,349672,132449,True
4,5402612,BBC Breaking News,BBCBreaking,2007-04-22 14:42:37+00:00,"London, UK",False,50643440,3,38172,147688,True
5,612473,BBC News (UK),BBCNews,2007-01-08 08:05:57+00:00,London,False,14255861,93,498922,49355,True
6,69329527,BBC North America,BBCNorthAmerica,2009-08-27 16:09:18+00:00,Washington DC,False,312480,790,74325,4434,True
7,15012486,CBS News,CBSNews,2008-06-05 00:54:31+00:00,"New York, NY",False,8713463,596,344979,56334,True
8,18767699,CBS News Politics,CBSPolitics,2009-01-08 15:57:49+00:00,"Washington, D.C.",False,313506,317,28419,3898,True
9,270508448,CBS News Poll,CBSNewsPoll,2011-03-22 19:04:44+00:00,None,False,13358,260,2692,700,True
10,759251,CNN,CNN,2007-02-09 00:35:02+00:00,None,False,59264125,1103,380444,155649,True
11,428333,CNN Breaking News,cnnbrk,2007-01-02 01:48:14+00:00,Everywhere,False,63589651,121,78174,193686,True
12,13850422,CNN Politics,CNNPolitics,2008-02-23 03:12:49+00:00,"Washington, DC",False,4435959,339,213619,22217,True
13,1367531,Fox News,FoxNews,2007-03-17 19:01:26+00:00,U.S.A.,False,22212122,262,486184,72463,True
14,16032925,Fox News Politics,foxnewspolitics,2008-08-28 21:16:38+00:00,"Washington, D.C.",False,1830437,248,46668,7595,True
15,25067168,euronews,euronews,2009-03-18 12:57:11+00:00,Europe,False,534343,24,163394,9052,True
16,2836421,MSNBC,MSNBC,2007-03-29 13:15:41+00:00,None,False,4810270,791,283880,30662,True
17,14173315,NBC News,NBCNews,2008-03-18 23:19:17+00:00,"New York, NY",False,9206486,1858,345715,51097,True
18,11856032,NBC Politics,NBCPolitics,2008-01-04 22:09:18+00:00,None,False,666639,263,81112,7629,True
19,807095,The New York Times,nytimes,2007-03-02 20:41:42+00:00,New York City,False,53809083,892,480091,216481,True
20,14434063,NYT Politics,nytpolitics,2008-04-18 15:18:43+00:00,Washington Bureau,False,524637,226,142610,9725,True
21,5392522,NPR,NPR,2007-04-22 05:10:15+00:00,None,False,8980083,67626,234409,70387,True
22,5741722,NPR Politics,nprpolitics,2007-05-03 14:45:05+00:00,"Washington, DC",False,3063079,94652,107299,31936,True
23,7587032,Sky News,SkyNews,2007-07-19 14:42:53+00:00,"London, UK",False,7942469,23,538166,30555,True
24,15754281,USA TODAY,USATODAY,2008-08-06 19:55:31+00:00,"USA TODAY HQ, McLean, Va.",False,4817456,926,380339,37259,True
25,7998482,USA TODAY Politics,usatodayDC,2007-08-06 17:57:26+00:00,"Washington, D.C.",False,225496,862,70958,1778,True
26,3108351,The Wall Street Journal,WSJ,2007-04-01 06:22:13+00:00,"New York, NY",False,20067945,1077,379815,126512,True
27,28135853,WSJ U.S. News,WSJusnews,2009-04-01 16:20:16+00:00,"New York, NY",False,39778,39,32908,1182,False
28,2467791,The Washington Post,washingtonpost,2007-03-27 11:19:39+00:00,"Washington, DC",False,19595117,1716,433893,107503,True

In [12]:
# check the data
twitter_user_details_df.count()

user_id                 29
user_name               29
user_username           29
user_created_at         29
user_location           23
user_protected          29
user_followers_count    29
user_following_count    29
user_tweet_count        29
user_listed_count       29
user_verified           29
dtype: int64

In [13]:
# save the data to csv
twitter_user_details_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_user_details.csv', index = False, header=True)

### get tweets of users

In [6]:
# use users ids from the created dataset to get tweets of those user ids

In [7]:
# read the csv that was created for user details
twitter_user_details_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_user_details.csv')
twitter_user_details_data.head(10)

,user_id,user_name,user_username,user_created_at,user_location,user_protected,user_followers_count,user_following_count,user_tweet_count,user_listed_count,user_verified
0,28785486,ABC News,ABC,2009-04-04 12:40:32+00:00,New York City / Worldwide,False,17637543,486,392806,66090,True
1,16815644,ABC News Politics,ABCPolitics,2008-10-16 22:43:16+00:00,"Washington, DC",False,1079082,473,192649,8493,True
2,384438102,ABC News Live,ABCNewsLive,2011-10-03 17:47:38+00:00,NaN,False,95939,242,36702,2238,True
3,742143,BBC News (World),BBCWorld,2007-02-01 07:44:29+00:00,"London, UK",False,37686088,18,349672,132449,True
4,5402612,BBC Breaking News,BBCBreaking,2007-04-22 14:42:37+00:00,"London, UK",False,50643440,3,38172,147688,True
5,612473,BBC News (UK),BBCNews,2007-01-08 08:05:57+00:00,London,False,14255861,93,498922,49355,True
6,69329527,BBC North America,BBCNorthAmerica,2009-08-27 16:09:18+00:00,Washington DC,False,312480,790,74325,4434,True
7,15012486,CBS News,CBSNews,2008-06-05 00:54:31+00:00,"New York, NY",False,8713463,596,344979,56334,True
8,18767699,CBS News Politics,CBSPolitics,2009-01-08 15:57:49+00:00,"Washington, D.C.",False,313506,317,28419,3898,True
9,270508448,CBS News Poll,CBSNewsPoll,2011-03-22 19:04:44+00:00,NaN,False,13358,260,2692,700,True

In [8]:
# create a list for user ids
user_id_list = twitter_user_details_data["user_id"].tolist()
user_id_list

[28785486,
 16815644,
 384438102,
 742143,
 5402612,
 612473,
 69329527,
 15012486,
 18767699,
 270508448,
 759251,
 428333,
 13850422,
 1367531,
 16032925,
 25067168,
 2836421,
 14173315,
 11856032,
 807095,
 14434063,
 5392522,
 5741722,
 7587032,
 15754281,
 7998482,
 3108351,
 28135853,
 2467791]

In [9]:
# check the length of the id list
len(user_id_list)

29

In [10]:
# Create funtions to get user's Tweets and save the results

# a function for gettting a user's tweet, input user_id, start_time, and end_time
def get_users_tweets(user_id,start_time,end_time):
    users_tweets = client.get_users_tweets(id=user_id,
                                           end_time=end_time, 
                                           exclude=None, 
                                           expansions="referenced_tweets.id", 
                                           max_results=100, 
                                           pagination_token=next_token,
                                           start_time=start_time, 
                                           tweet_fields=["author_id","context_annotations","created_at","entities","in_reply_to_user_id","lang","public_metrics","referenced_tweets"])
    return users_tweets
# use tweet_fields to specify the fields we want to include in the response


# a function to append get_users_tweets response to a list
def user_tweets_response_to_lst(users_tweets,users_tweets_lst):
    if users_tweets.data is not None:
        for tweets in users_tweets.data:
            users_tweets_details = {
                'tweet_id': tweets.id,
                'tweet_text': tweets.text,
                'tweet_author_id': tweets.author_id,
                "tweet_context_annotations" : tweets.context_annotations,
                "tweet_created_at" : tweets.created_at,
                "tweet_entities" : tweets.entities,
                "tweet_in_reply_to_user_id" : tweets.in_reply_to_user_id,
                "tweet_lang" : tweets.lang,
                "tweet_retweet_count" : tweets.public_metrics["retweet_count"],
                "tweet_reply_count" : tweets.public_metrics["reply_count"],
                "tweet_like_count" : tweets.public_metrics["like_count"],
                "tweet_quote_count" : tweets.public_metrics["quote_count"],
                "tweet_referenced_tweets" : tweets.referenced_tweets
            }
            users_tweets_lst.append(users_tweets_details)
    else: users_tweets_lst = users_tweets_lst
    return users_tweets_lst

# use the if loop in case the response data is None
# use the for loop to iterate through the response 
# save them in a list with items expanded

#### tweets in 2022 July

In [46]:
# use get_users_tweets and user_tweets_response_to_lst to extract and save users' tweet for tweets in 2022 July

start_time = "2022-07-01T00:00:00Z"
end_time = "2022-08-01T00:00:00Z"

users_tweets_2022_july_lst = []

# use a for loop to iterate through the user ids
# use a while loop to iterate through result page with the next_token
# use timmer to controle the loops
# store the results in a list

for user_id in user_id_list:
    finished = False
    next_token = None
    count_page = 0
    while finished is not True:
        users_tweets = get_users_tweets(user_id,start_time,end_time)
        users_tweets_2022_july_lst = user_tweets_response_to_lst(users_tweets,users_tweets_2022_july_lst)
        count_page = count_page + 1
        if 'next_token' in users_tweets.meta:
            next_token = users_tweets.meta["next_token"]
            time.sleep(5)
        else:
            finished = True
            print("user_id: ",user_id,"count result page: ",count_page)
            time.sleep(5)

# print count of result page for each user

user_id:  28785486 count result page:  26
user_id:  16815644 count result page:  12
user_id:  384438102 count result page:  5
user_id:  742143 count result page:  13
user_id:  5402612 count result page:  1
user_id:  612473 count result page:  25
user_id:  69329527 count result page:  2
user_id:  15012486 count result page:  27
user_id:  18767699 count result page:  1
user_id:  270508448 count result page:  1
user_id:  759251 count result page:  25
user_id:  428333 count result page:  2
user_id:  13850422 count result page:  5
user_id:  1367531 count result page:  18
user_id:  16032925 count result page:  1
user_id:  25067168 count result page:  10
user_id:  2836421 count result page:  19
user_id:  14173315 count result page:  26
user_id:  11856032 count result page:  4
user_id:  807095 count result page:  27
user_id:  14434063 count result page:  4
user_id:  5392522 count result page:  14
user_id:  5741722 count result page:  7
user_id:  7587032 count result page:  22
user_id:  15754281 count result page:  19
user_id:  7998482 count result page:  6
user_id:  3108351 count result page:  28
user_id:  28135853 count result page:  1
user_id:  2467791 count result page:  25

In [47]:
# transform the list to a dataframe
twitter_users_tweets_2022_july_df = pd.DataFrame(users_tweets_2022_july_lst)
twitter_users_tweets_2022_july_df.head(10)

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1553892491962843136,Smokers and vapers are more likely to have a s...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 23:56:54+00:00,"{'urls': [{'start': 111, 'end': 134, 'url': 'h...",NaN,en,59,43,144,16,None
1,1553886764930138122,Gun manufacturers have made more than $1 billi...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 23:34:09+00:00,"{'urls': [{'start': 214, 'end': 237, 'url': 'h...",NaN,en,82,388,187,65,None
2,1553880276702560256,Misinformation and stigma may be holding back ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 23:08:22+00:00,"{'urls': [{'start': 69, 'end': 92, 'url': 'htt...",NaN,en,24,39,46,3,None
3,1553872564820361222,Rising concern over the impact of a potential ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 22:37:43+00:00,"{'annotations': [{'start': 90, 'end': 96, 'pro...",NaN,en,23,28,58,7,None
4,1553865859977908225,"At least 28 people have been confirmed dead, b...",28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-31 22:11:05+00:00,"{'annotations': [{'start': 98, 'end': 109, 'pr...",NaN,en,83,38,204,6,None
5,1553861323691376648,A fire burning out of control in a Northern Ca...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 21:53:03+00:00,"{'annotations': [{'start': 35, 'end': 53, 'pro...",NaN,en,47,8,81,0,None
6,1553856250613534720,Two cyclists were killed and three others inju...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 21:32:54+00:00,"{'annotations': [{'start': 78, 'end': 92, 'pro...",NaN,en,27,5,46,1,None
7,1553847893634809858,Dramatic video captures the moment a portion o...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-31 20:59:41+00:00,"{'annotations': [{'start': 48, 'end': 53, 'pro...",NaN,en,31,5,53,3,None
8,1553844156761620485,"NEW: George Takei on Nichelle Nichols: ""My hea...",28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-31 20:44:50+00:00,"{'annotations': [{'start': 5, 'end': 16, 'prob...",28785486.0,en,115,19,826,3,"[(type, id)]"
9,1553839967796854785,NEW: Former Pres. Barack Obama on Bill Russell...,28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-31 20:28:11+00:00,"{'annotations': [{'start': 18, 'end': 29, 'pro...",NaN,en,1303,135,6073,55,None

In [48]:
# check the tweets per author id
twitter_users_tweets_2022_july_df.groupby(['tweet_author_id'])['tweet_author_id'].count()

tweet_author_id
428333        133
612473       2454
742143       1288
759251       2413
807095       2614
1367531      1790
2467791      2487
2836421      1802
3108351      2709
5392522      1310
5402612        87
5741722       610
7587032      2162
7998482       576
11856032      374
13850422      495
14173315     2565
14434063      381
15012486     2600
15754281     1892
16815644     1137
18767699       78
25067168      958
28785486     2526
69329527      134
270508448      23
384438102     440
Name: tweet_author_id, dtype: int64

In [49]:
# save the data to a csv file
twitter_users_tweets_2022_july_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_users_tweets_2022_july.csv', index = False, header=True)

#### tweets in 2020 October

In [11]:
# use get_users_tweets and user_tweets_response_to_lst to extract and save users' tweet for tweets in 2020 October
# US 2020 presidential election day was on 2020/11/03
# considered the deadline for early in-person voting and mail-in ballots
# we would use 2020/11/01, and convert 12 am in EDT to UTC 4 am

start_time = "2020-10-01T04:00:00Z"
end_time = "2020-11-01T04:00:00Z"

users_tweets_2020_oct_lst = []

# use a for loop to iterate through the user ids
# use a while loop to iterate through result page with the next_token
# use timmer to controle the loops
# store the results in a list

for user_id in user_id_list:
    finished = False
    next_token = None
    count_page = 0
    while finished is not True:
        users_tweets = get_users_tweets(user_id,start_time,end_time)
        users_tweets_2020_oct_lst = user_tweets_response_to_lst(users_tweets,users_tweets_2020_oct_lst)
        count_page = count_page + 1
        if 'next_token' in users_tweets.meta:
            next_token = users_tweets.meta["next_token"]
            time.sleep(5)
        else:
            finished = True
            print("user_id: ",user_id,"count result page: ",count_page)
            time.sleep(5)

# print count of result page for each user

user_id:  28785486 count result page:  1
user_id:  16815644 count result page:  1
user_id:  384438102 count result page:  1
user_id:  742143 count result page:  1
user_id:  5402612 count result page:  1
user_id:  612473 count result page:  1
user_id:  69329527 count result page:  1
user_id:  15012486 count result page:  1
user_id:  18767699 count result page:  1
user_id:  270508448 count result page:  1
user_id:  759251 count result page:  1
user_id:  428333 count result page:  1
user_id:  13850422 count result page:  1
user_id:  1367531 count result page:  1
user_id:  16032925 count result page:  1
user_id:  25067168 count result page:  1
user_id:  2836421 count result page:  1
user_id:  14173315 count result page:  1
user_id:  11856032 count result page:  1
user_id:  807095 count result page:  1
user_id:  14434063 count result page:  1
user_id:  5392522 count result page:  1
user_id:  5741722 count result page:  1
user_id:  7587032 count result page:  1
user_id:  15754281 count result page:  1
user_id:  7998482 count result page:  1
user_id:  3108351 count result page:  1
user_id:  28135853 count result page:  1
user_id:  2467791 count result page:  1

In [12]:
# transform the list to a dataframe
twitter_users_tweets_2020_oct_df = pd.DataFrame(users_tweets_2020_oct_lst)
twitter_users_tweets_2020_oct_df.head(10)

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1322661371721515008,"England win Six Nations, after France beat Ire...",5402612,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...",2020-10-31 22:06:59+00:00,"{'urls': [{'start': 98, 'end': 121, 'url': 'ht...",NaN,en,171,110,1907,62,None
1,1322618362212634625,From Thursday until the start of December you...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-31 19:16:05+00:00,"{'urls': [{'start': 237, 'end': 260, 'url': 'h...",NaN,en,4305,2691,9461,4139,None
2,1322572709327458306,UK PM Boris Johnson is set to announce lockdow...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-31 16:14:40+00:00,"{'urls': [{'start': 111, 'end': 134, 'url': 'h...",NaN,en,1968,925,4911,1120,None
3,1322518948714262528,"Obituary: Sir Sean Connery, the award-winning ...",5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-31 12:41:03+00:00,"{'urls': [{'start': 92, 'end': 115, 'url': 'ht...",5402612.0,en,3761,581,14358,1770,"[(type, id)]"
4,1322515886884966401,"Sir Sean Connery, the actor who defined James ...",5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-31 12:28:53+00:00,"{'urls': [{'start': 69, 'end': 92, 'url': 'htt...",NaN,en,49839,10468,145399,54577,None
5,1322208071616241667,RT @BBCSport: World Cup-winning England midfie...,5402612,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...",2020-10-30 16:05:44+00:00,"{'urls': [{'start': 89, 'end': 112, 'url': 'ht...",NaN,en,349,0,0,0,"[(type, id)]"
6,1322152190274883584,Earthquake with a magnitude of 7.0 shakes Gree...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-30 12:23:41+00:00,"{'urls': [{'start': 119, 'end': 142, 'url': 'h...",NaN,en,1669,268,3523,460,None
7,1321987913253572613,New Zealand votes to legalise euthanasia for t...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-30 01:30:54+00:00,"{'urls': [{'start': 104, 'end': 127, 'url': 'h...",NaN,en,1587,596,14334,1152,None
8,1321877972756955137,West Yorkshire to be placed under strictest le...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-29 18:14:02+00:00,"{'urls': [{'start': 84, 'end': 107, 'url': 'ht...",NaN,en,293,202,807,355,None
9,1321803761413664768,Labour Party suspends former leader Jeremy Cor...,5402612,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2020-10-29 13:19:09+00:00,"{'urls': [{'start': 119, 'end': 142, 'url': 'h...",NaN,en,1191,930,4684,1718,None

In [13]:
# check the tweets per author id
twitter_users_tweets_2020_oct_df.groupby(['tweet_author_id'])['tweet_author_id'].count()

tweet_author_id
5402612      52
18767699     52
270508448    55
Name: tweet_author_id, dtype: int64

In [14]:
# save the data to a csv file
twitter_users_tweets_2020_oct_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_users_tweets_2020_oct.csv', index = False, header=True)

#### tweets in 2022 June

In [17]:
# use get_users_tweets and user_tweets_response_to_lst to extract and save users' tweet for tweets in 2022 June

start_time = "2022-06-01T00:00:00Z"
end_time = "2022-07-01T00:00:00Z"

users_tweets_2022_June_lst = []

# use a for loop to iterate through the user ids
# use a while loop to iterate through result page with the next_token
# use timmer to controle the loops
# store the results in a list

for user_id in user_id_list:
    finished = False
    next_token = None
    count_page = 0
    while finished is not True:
        users_tweets = get_users_tweets(user_id,start_time,end_time)
        users_tweets_2022_June_lst = user_tweets_response_to_lst(users_tweets,users_tweets_2022_June_lst)
        count_page = count_page + 1
        if 'next_token' in users_tweets.meta:
            next_token = users_tweets.meta["next_token"]
            time.sleep(5)
        else:
            finished = True
            print("user_id: ",user_id,"count result page: ",count_page)
            time.sleep(5)

# print count of result page for each user

user_id:  28785486 count result page:  2
user_id:  16815644 count result page:  15
user_id:  384438102 count result page:  9
user_id:  742143 count result page:  14
user_id:  5402612 count result page:  1
user_id:  612473 count result page:  4
user_id:  69329527 count result page:  2
user_id:  15012486 count result page:  1
user_id:  18767699 count result page:  1
user_id:  270508448 count result page:  1
user_id:  759251 count result page:  3
user_id:  428333 count result page:  2
user_id:  13850422 count result page:  8
user_id:  1367531 count result page:  1
user_id:  16032925 count result page:  1
user_id:  25067168 count result page:  12
user_id:  2836421 count result page:  11
user_id:  14173315 count result page:  2
user_id:  11856032 count result page:  5
user_id:  807095 count result page:  1
user_id:  14434063 count result page:  5
user_id:  5392522 count result page:  16
user_id:  5741722 count result page:  11
user_id:  7587032 count result page:  1
user_id:  15754281 count result page:  10
user_id:  7998482 count result page:  9
user_id:  3108351 count result page:  1
user_id:  28135853 count result page:  1
user_id:  2467791 count result page:  1

In [18]:
# transform the list to a dataframe
twitter_users_tweets_2022_June_df = pd.DataFrame(users_tweets_2022_June_lst)
twitter_users_tweets_2022_June_df.head(10)

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1542653639482920961,The Supreme Court announced it will hear a cas...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 23:37:43+00:00,"{'annotations': [{'start': 4, 'end': 16, 'prob...",NaN,en,46,41,78,13,None
1,1542647056254345221,The FDA says it has advised COVID-19 vaccine c...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 23:11:33+00:00,"{'annotations': [{'start': 4, 'end': 6, 'proba...",NaN,en,30,28,93,3,None
2,1542641335378874368,Tear gas or pepper spray was used on patrons a...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 22:48:49+00:00,"{'annotations': [{'start': 71, 'end': 82, 'pro...",NaN,en,22,6,29,1,None
3,1542635504700497921,"RT @ABCPolitics: NEW: In a statement, Pres. Bi...",28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-06-30 22:25:39+00:00,"{'annotations': [{'start': 44, 'end': 48, 'pro...",NaN,en,32,0,0,0,"[(type, id)]"
4,1542634836518735872,OFF YOU GO: Alligator released into the river ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 22:23:00+00:00,"{'annotations': [{'start': 106, 'end': 112, 'p...",NaN,en,22,14,94,5,None
5,1542633166896259074,"Ruja Ignatova, the so-called Cryptoqueen, has ...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 22:16:22+00:00,"{'annotations': [{'start': 0, 'end': 12, 'prob...",NaN,en,31,6,43,9,None
6,1542626059232976898,Eli Lilly has announced the U.S. government is...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 21:48:07+00:00,"{'annotations': [{'start': 0, 'end': 8, 'proba...",NaN,en,13,10,50,1,None
7,1542620228865216512,"""She's got a lot of money and she hit the road...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 21:24:57+00:00,"{'urls': [{'start': 62, 'end': 85, 'url': 'htt...",NaN,en,87,30,172,9,None
8,1542613564862627843,"Stocks fell again on Wall Street, closing out ...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 20:58:28+00:00,"{'annotations': [{'start': 21, 'end': 31, 'pro...",NaN,en,27,19,37,8,None
9,1542606539600560136,Toxic toads are returning to South Florida in ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-06-30 20:30:33+00:00,"{'annotations': [{'start': 29, 'end': 41, 'pro...",NaN,en,19,11,40,4,None

In [19]:
# check the tweets per author id
twitter_users_tweets_2022_June_df.groupby(['tweet_author_id'])['tweet_author_id'].count()

tweet_author_id
428333        130
612473        364
742143       1358
759251        290
2836421      1056
5392522      1578
5402612        61
5741722      1043
7998482       812
11856032      428
13850422      737
14173315      107
14434063      469
15754281      966
16032925       23
16815644     1415
18767699       80
25067168     1138
28785486      197
69329527      136
270508448      65
384438102     894
Name: tweet_author_id, dtype: int64

In [20]:
twitter_users_tweets_2022_June_df['tweet_author_id'].nunique()

22

In [21]:
# save the data to a csv file
twitter_users_tweets_2022_June_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_users_tweets_2022_June.csv', index = False, header=True)

In [ ]:
#### tweets from 2022 July 7th to August 7th

In [12]:
# use get_users_tweets and user_tweets_response_to_lst to extract and save users' tweet for tweets from 2022 July 7th to August 7th

start_time = "2022-07-07T00:00:00Z"
end_time = "2022-08-08T00:00:00Z"

users_tweets_2022_july_august_lst = []

# use a for loop to iterate through the user ids
# use a while loop to iterate through result page with the next_token
# use timmer to controle the loops
# store the results in a list

for user_id in user_id_list:
    finished = False
    next_token = None
    count_page = 0
    while finished is not True:
        users_tweets = get_users_tweets(user_id,start_time,end_time)
        users_tweets_2022_july_august_lst = user_tweets_response_to_lst(users_tweets,users_tweets_2022_july_august_lst)
        count_page = count_page + 1
        if 'next_token' in users_tweets.meta:
            next_token = users_tweets.meta["next_token"]
            time.sleep(5)
        else:
            finished = True
            print("user_id: ",user_id,"count result page: ",count_page)
            time.sleep(5)

# print count of result page for each user

user_id:  28785486 count result page:  27
user_id:  16815644 count result page:  13
user_id:  384438102 count result page:  5
user_id:  742143 count result page:  14
user_id:  5402612 count result page:  1
user_id:  612473 count result page:  24
user_id:  69329527 count result page:  2
user_id:  15012486 count result page:  33
user_id:  18767699 count result page:  1
user_id:  270508448 count result page:  1
user_id:  759251 count result page:  26
user_id:  428333 count result page:  2
user_id:  13850422 count result page:  6
user_id:  1367531 count result page:  32
user_id:  16032925 count result page:  1
user_id:  25067168 count result page:  11
user_id:  2836421 count result page:  20
user_id:  14173315 count result page:  28
user_id:  11856032 count result page:  5
user_id:  807095 count result page:  33
user_id:  14434063 count result page:  4
user_id:  5392522 count result page:  14
user_id:  5741722 count result page:  8
user_id:  7587032 count result page:  32
user_id:  15754281 count result page:  20
user_id:  7998482 count result page:  7
user_id:  3108351 count result page:  30
user_id:  28135853 count result page:  1
user_id:  2467791 count result page:  33

In [13]:
# transform the list to a dataframe
twitter_users_tweets_2022_july_august_df = pd.DataFrame(users_tweets_2022_july_august_lst)
twitter_users_tweets_2022_july_august_df.head(10)

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1556429078810460161,Long-lost painting by British graffiti artist ...,28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-08-07 23:56:24+00:00,"{'urls': [{'start': 109, 'end': 132, 'url': 'h...",NaN,en,30,13,79,1,None
1,1556422367890505728,The effects of sea level rise on coastal commu...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 23:29:44+00:00,"{'urls': [{'start': 211, 'end': 234, 'url': 'h...",NaN,en,52,59,95,13,None
2,1556416978667143168,The Los Angeles City Council has voted to ban ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 23:08:19+00:00,"{'urls': [{'start': 115, 'end': 138, 'url': 'h...",NaN,en,39,62,187,6,None
3,1556410627941449731,Four people are dead after a suspected drunk d...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 22:43:05+00:00,"{'urls': [{'start': 87, 'end': 110, 'url': 'ht...",NaN,en,25,27,41,3,None
4,1556409439896211456,"""I want to save the world."" \n\nMeet ""Bayou Da...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 22:38:21+00:00,"{'urls': [{'start': 106, 'end': 129, 'url': 'h...",NaN,en,84,28,326,3,None
5,1556405160427020289,"""It starts younger than a lot of us may think,...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 22:21:21+00:00,"{'mentions': [{'start': 79, 'end': 89, 'userna...",NaN,en,16,15,44,2,None
6,1556399790677581824,A marble statue depicting a sleeping refugee w...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 22:00:01+00:00,"{'urls': [{'start': 196, 'end': 219, 'url': 'h...",NaN,en,16,8,48,0,None
7,1556399683911688193,Elon Musk accused Twitter of fraud in a counte...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 21:59:35+00:00,"{'urls': [{'start': 207, 'end': 230, 'url': 'h...",NaN,en,31,25,80,3,None
8,1556394069982683141,More than two-thirds (69%) of Americans think ...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 21:37:17+00:00,"{'mentions': [{'start': 154, 'end': 158, 'user...",NaN,en,45,167,142,27,None
9,1556387770372919302,49% of Americans said they would be more likel...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-08-07 21:12:15+00:00,"{'mentions': [{'start': 217, 'end': 221, 'user...",NaN,en,60,57,218,7,None

In [14]:
# check the tweets per author id
twitter_users_tweets_2022_july_august_df.groupby(['tweet_author_id'])['tweet_author_id'].count()

tweet_author_id
428333        154
612473       2350
742143       1316
759251       2596
807095       3225
1367531      3127
2467791      3220
2836421      1923
3108351      2945
5392522      1349
5402612        82
5741722       720
7587032      3176
7998482       656
11856032      418
13850422      591
14173315     2762
14434063      364
15012486     3215
15754281     1970
16815644     1263
18767699       91
25067168     1049
28785486     2640
69329527      149
270508448      48
384438102     470
Name: tweet_author_id, dtype: int64

In [15]:
twitter_users_tweets_2022_july_august_df['tweet_author_id'].nunique()

27

In [16]:
# save the data to a csv file
twitter_users_tweets_2022_july_august_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_users_tweets_2022_july_august.csv', index = False, header=True)

In [25]:
# users_tweets.meta["next_token"]

In [14]:
# tweet_details = [[tweet.geo, tweet.text, tweet.user.screen_name, tweet.user.location] for tweet in tweets]
# tweet_df = pd.DataFrame(data=tweet_details, columns=["geo","text","user","location"])
# tweet_df.head()