# Collect data from Twitter using Twitter API

## import packages and configure twitter api

In [1]:
# import libraries

# !pip install tweepy
import tweepy as tw
print(tw.__version__)

4.10.0

In [2]:
# !pip install pandas
import pandas as pd
import json
import time
import csv
import requests
print(requests.__version__)

2.28.1

In [3]:
# import keys from a .gitignore file

import keys

In [4]:
# assign the values accordingly

client = tw.Client(
    wait_on_rate_limit = True,
    consumer_key = keys.consumer_key,
    consumer_secret = keys.consumer_secret,
    access_token = keys.access_token,
    access_token_secret = keys.access_token_secret,
    bearer_token = keys.bearer_token,
)

In [5]:
# check connection
# client = tw.Client(bearer_token)
client

## get the list of news media twitter username

In [6]:
# read a csv file with selected news media's twitter username 

news_media_basic_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/news_media_twitter_username.csv')
news_media_basic_data

             news_media twitter_username us_or_foreign general_or_political
0              ABC News              ABC            US              General
1              ABC News      ABCPolitics            US            Political
2              ABC News      ABCNewsLive            US              General
3              BBC News         BBCWorld       Foreign              General
4              BBC News      BBCBreaking       Foreign              General
5              BBC News          BBCNews       Foreign              General
6              BBC News  BBCNorthAmerica       Foreign              General
7              CBS News          CBSNews            US              General
8              CBS News      CBSPolitics            US            Political
9              CBS News      CBSNewsPoll            US            Political
10                  CNN              CNN            US              General
11                  CNN           cnnbrk            US              General
12                  CNN      CNNPolitics            US            Political
13             Fox News          FoxNews            US              General
14             Fox News  foxnewspolitics            US            Political
15            Euro news         euronews       Foreign              General
16                MSNBC            MSNBC            US              General
17             NBC News          NBCNews            US              General
18             NBC News      NBCPolitics            US            Political
19       New York Times          nytimes            US              General
20       New York Times      nytpolitics            US            Political
21                  NPR              NPR            US              General
22                  NPR      nprpolitics            US            Political
23             Sky news          SkyNews       Foreign              General
24            USA Today         USATODAY            US              General
25            USA Today       usatodayDC            US              General
26  Wall Street Journal              WSJ            US              General
27  Wall Street Journal        WSJusnews            US              General
28      Washington Post   washingtonpost            US              General

In [7]:
news_media_twitter_username_list = news_media_basic_data['twitter_username'].tolist()
news_media_twitter_username_list

# for testing
# news_media_twitter_username_list = ["ABC","ABCPolitics","ABCNewsLive"]
# news_media_twitter_username_list

['ABC',
 'ABCPolitics',
 'ABCNewsLive',
 'BBCWorld',
 'BBCBreaking',
 'BBCNews',
 'BBCNorthAmerica',
 'CBSNews',
 'CBSPolitics',
 'CBSNewsPoll',
 'CNN',
 'cnnbrk',
 'CNNPolitics',
 'FoxNews',
 'foxnewspolitics',
 'euronews',
 'MSNBC',
 'NBCNews',
 'NBCPolitics',
 'nytimes',
 'nytpolitics',
 'NPR',
 'nprpolitics',
 'SkyNews',
 'USATODAY',
 'usatodayDC',
 'WSJ',
 'WSJusnews',
 'washingtonpost']

## Call Twitter API v2

### get user details

In [8]:
# call twitter API v2 to get user id and other user information for the user in the list

def get_users_details(usernames):
        users_details = client.get_users(usernames=usernames, user_fields=["created_at","location","protected","public_metrics","verified"])
        return users_details

twitter_user_details = get_users_details(news_media_twitter_username_list)
twitter_user_details

Response(data=[<User id=28785486 name=ABC News username=ABC>, <User id=16815644 name=ABC News Politics username=ABCPolitics>, <User id=384438102 name=ABC News Live username=ABCNewsLive>, <User id=742143 name=BBC News (World) username=BBCWorld>, <User id=5402612 name=BBC Breaking News username=BBCBreaking>, <User id=612473 name=BBC News (UK) username=BBCNews>, <User id=69329527 name=BBC North America username=BBCNorthAmerica>, <User id=15012486 name=CBS News username=CBSNews>, <User id=18767699 name=CBS News Politics username=CBSPolitics>, <User id=270508448 name=CBS News Poll username=CBSNewsPoll>, <User id=759251 name=CNN username=CNN>, <User id=428333 name=CNN Breaking News username=cnnbrk>, <User id=13850422 name=CNN Politics username=CNNPolitics>, <User id=1367531 name=Fox News username=FoxNews>, <User id=16032925 name=Fox News Politics username=foxnewspolitics>, <User id=25067168 name=euronews username=euronews>, <User id=2836421 name=MSNBC username=MSNBC>, <User id=14173315 name=NBC News username=NBCNews>, <User id=11856032 name=NBC Politics username=NBCPolitics>, <User id=807095 name=The New York Times username=nytimes>, <User id=14434063 name=NYT Politics username=nytpolitics>, <User id=5392522 name=NPR username=NPR>, <User id=5741722 name=NPR Politics username=nprpolitics>, <User id=7587032 name=Sky News username=SkyNews>, <User id=15754281 name=USA TODAY username=USATODAY>, <User id=7998482 name=USA TODAY Politics username=usatodayDC>, <User id=3108351 name=The Wall Street Journal username=WSJ>, <User id=28135853 name=WSJ U.S. News username=WSJusnews>, <User id=2467791 name=The Washington Post username=washingtonpost>], includes={}, errors=[], meta={})

In [10]:
# create a list of records
twitter_user_details_lst = []

# iterate over each users and corresponding user details
for user in twitter_user_details.data:
    user_info = {
        'user_id': user.id,
        'user_name': user.name,
        'user_username': user.username,
        "user_created_at" : user.created_at,
        "user_location" : user.location,
        "user_protected" : user.protected,
        "user_followers_count" : user.public_metrics["followers_count"],
        "user_following_count" : user.public_metrics["following_count"],
        "user_tweet_count" : user.public_metrics["tweet_count"],
        "user_listed_count" : user.public_metrics["listed_count"],
        "user_verified" : user.verified
    }
    twitter_user_details_lst.append(user_info)

# create dataframe from the extracted records
twitter_user_details_df = pd.DataFrame(twitter_user_details_lst)
# display the dataframe
twitter_user_details_df

,user_id,user_name,user_username,user_created_at,user_location,user_protected,user_followers_count,user_following_count,user_tweet_count,user_listed_count,user_verified
0,28785486,ABC News,ABC,2009-04-04 12:40:32+00:00,New York City / Worldwide,False,17637543,486,392806,66090,True
1,16815644,ABC News Politics,ABCPolitics,2008-10-16 22:43:16+00:00,"Washington, DC",False,1079082,473,192649,8493,True
2,384438102,ABC News Live,ABCNewsLive,2011-10-03 17:47:38+00:00,None,False,95939,242,36702,2238,True
3,742143,BBC News (World),BBCWorld,2007-02-01 07:44:29+00:00,"London, UK",False,37686088,18,349672,132449,True
4,5402612,BBC Breaking News,BBCBreaking,2007-04-22 14:42:37+00:00,"London, UK",False,50643440,3,38172,147688,True
5,612473,BBC News (UK),BBCNews,2007-01-08 08:05:57+00:00,London,False,14255861,93,498922,49355,True
6,69329527,BBC North America,BBCNorthAmerica,2009-08-27 16:09:18+00:00,Washington DC,False,312480,790,74325,4434,True
7,15012486,CBS News,CBSNews,2008-06-05 00:54:31+00:00,"New York, NY",False,8713463,596,344979,56334,True
8,18767699,CBS News Politics,CBSPolitics,2009-01-08 15:57:49+00:00,"Washington, D.C.",False,313506,317,28419,3898,True
9,270508448,CBS News Poll,CBSNewsPoll,2011-03-22 19:04:44+00:00,None,False,13358,260,2692,700,True
10,759251,CNN,CNN,2007-02-09 00:35:02+00:00,None,False,59264125,1103,380444,155649,True
11,428333,CNN Breaking News,cnnbrk,2007-01-02 01:48:14+00:00,Everywhere,False,63589651,121,78174,193686,True
12,13850422,CNN Politics,CNNPolitics,2008-02-23 03:12:49+00:00,"Washington, DC",False,4435959,339,213619,22217,True
13,1367531,Fox News,FoxNews,2007-03-17 19:01:26+00:00,U.S.A.,False,22212122,262,486184,72463,True
14,16032925,Fox News Politics,foxnewspolitics,2008-08-28 21:16:38+00:00,"Washington, D.C.",False,1830437,248,46668,7595,True
15,25067168,euronews,euronews,2009-03-18 12:57:11+00:00,Europe,False,534343,24,163394,9052,True
16,2836421,MSNBC,MSNBC,2007-03-29 13:15:41+00:00,None,False,4810270,791,283880,30662,True
17,14173315,NBC News,NBCNews,2008-03-18 23:19:17+00:00,"New York, NY",False,9206486,1858,345715,51097,True
18,11856032,NBC Politics,NBCPolitics,2008-01-04 22:09:18+00:00,None,False,666639,263,81112,7629,True
19,807095,The New York Times,nytimes,2007-03-02 20:41:42+00:00,New York City,False,53809083,892,480091,216481,True
20,14434063,NYT Politics,nytpolitics,2008-04-18 15:18:43+00:00,Washington Bureau,False,524637,226,142610,9725,True
21,5392522,NPR,NPR,2007-04-22 05:10:15+00:00,None,False,8980083,67626,234409,70387,True
22,5741722,NPR Politics,nprpolitics,2007-05-03 14:45:05+00:00,"Washington, DC",False,3063079,94652,107299,31936,True
23,7587032,Sky News,SkyNews,2007-07-19 14:42:53+00:00,"London, UK",False,7942469,23,538166,30555,True
24,15754281,USA TODAY,USATODAY,2008-08-06 19:55:31+00:00,"USA TODAY HQ, McLean, Va.",False,4817456,926,380339,37259,True
25,7998482,USA TODAY Politics,usatodayDC,2007-08-06 17:57:26+00:00,"Washington, D.C.",False,225496,862,70958,1778,True
26,3108351,The Wall Street Journal,WSJ,2007-04-01 06:22:13+00:00,"New York, NY",False,20067945,1077,379815,126512,True
27,28135853,WSJ U.S. News,WSJusnews,2009-04-01 16:20:16+00:00,"New York, NY",False,39778,39,32908,1182,False
28,2467791,The Washington Post,washingtonpost,2007-03-27 11:19:39+00:00,"Washington, DC",False,19595117,1716,433893,107503,True

In [12]:
# check the data
twitter_user_details_df.count()

user_id                 29
user_name               29
user_username           29
user_created_at         29
user_location           23
user_protected          29
user_followers_count    29
user_following_count    29
user_tweet_count        29
user_listed_count       29
user_verified           29
dtype: int64

In [13]:
# save the data to csv
twitter_user_details_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_user_details.csv', index = False, header=True)

### get tweets of users

In [14]:
# use users ids from the created dataset to get tweets of those user ids

In [15]:
# read the csv that was created for user details
twitter_user_details_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_user_details.csv')
twitter_user_details_data.head(10)

,user_id,user_name,user_username,user_created_at,user_location,user_protected,user_followers_count,user_following_count,user_tweet_count,user_listed_count,user_verified
0,28785486,ABC News,ABC,2009-04-04 12:40:32+00:00,New York City / Worldwide,False,17637543,486,392806,66090,True
1,16815644,ABC News Politics,ABCPolitics,2008-10-16 22:43:16+00:00,"Washington, DC",False,1079082,473,192649,8493,True
2,384438102,ABC News Live,ABCNewsLive,2011-10-03 17:47:38+00:00,NaN,False,95939,242,36702,2238,True
3,742143,BBC News (World),BBCWorld,2007-02-01 07:44:29+00:00,"London, UK",False,37686088,18,349672,132449,True
4,5402612,BBC Breaking News,BBCBreaking,2007-04-22 14:42:37+00:00,"London, UK",False,50643440,3,38172,147688,True
5,612473,BBC News (UK),BBCNews,2007-01-08 08:05:57+00:00,London,False,14255861,93,498922,49355,True
6,69329527,BBC North America,BBCNorthAmerica,2009-08-27 16:09:18+00:00,Washington DC,False,312480,790,74325,4434,True
7,15012486,CBS News,CBSNews,2008-06-05 00:54:31+00:00,"New York, NY",False,8713463,596,344979,56334,True
8,18767699,CBS News Politics,CBSPolitics,2009-01-08 15:57:49+00:00,"Washington, D.C.",False,313506,317,28419,3898,True
9,270508448,CBS News Poll,CBSNewsPoll,2011-03-22 19:04:44+00:00,NaN,False,13358,260,2692,700,True

In [16]:
# create a list for user ids
user_id_list = twitter_user_details_data["user_id"].tolist()
user_id_list

[28785486,
 16815644,
 384438102,
 742143,
 5402612,
 612473,
 69329527,
 15012486,
 18767699,
 270508448,
 759251,
 428333,
 13850422,
 1367531,
 16032925,
 25067168,
 2836421,
 14173315,
 11856032,
 807095,
 14434063,
 5392522,
 5741722,
 7587032,
 15754281,
 7998482,
 3108351,
 28135853,
 2467791]

In [17]:
# check the length of the id list
len(user_id_list)

29

In [18]:
# Create funtions to get user's Tweets and save the results

# a function for gettting a user's tweet, input user_id, start_time, and end_time
def get_users_tweets(user_id,start_time,end_time):
    users_tweets = client.get_users_tweets(id=user_id,
                                           end_time=end_time, 
                                           exclude=None, 
                                           expansions="referenced_tweets.id", 
                                           max_results=5, 
                                           pagination_token=next_token,
                                           start_time=start_time, 
                                           tweet_fields=["author_id","context_annotations","created_at","entities","in_reply_to_user_id","lang","public_metrics","referenced_tweets"])
    return users_tweets

# a function to append get_users_tweets response to a list
def user_tweets_response_to_lst(users_tweets,users_tweets_lst):

    for tweets in users_tweets.data:
        users_tweets_details = {
            'tweet_id': tweets.id,
            'tweet_text': tweets.text,
            'tweet_author_id': tweets.author_id,
            "tweet_context_annotations" : tweets.context_annotations,
            "tweet_created_at" : tweets.created_at,
            "tweet_entities" : tweets.entities,
            "tweet_in_reply_to_user_id" : tweets.in_reply_to_user_id,
            "tweet_lang" : tweets.lang,
            "tweet_retweet_count" : tweets.public_metrics["retweet_count"],
            "tweet_reply_count" : tweets.public_metrics["reply_count"],
            "tweet_like_count" : tweets.public_metrics["like_count"],
            "tweet_quote_count" : tweets.public_metrics["quote_count"],
            "tweet_referenced_tweets" : tweets.referenced_tweets
        }
        users_tweets_lst.append(users_tweets_details)
    return users_tweets_lst

In [19]:
# use get_users_tweets and user_tweets_response_to_lst to extract and save users' tweet for tweets in 2022 July

start_time = "2022-07-01T00:00:00Z"
end_time = "2022-08-01T00:00:00Z"

users_tweets_2022_july_lst = []

for user_id in user_id_list:
    finished = False
    next_token = None

    while finished is not True:
        users_tweets = get_users_tweets(user_id,start_time,end_time)
        users_tweets_2022_july_lst = user_tweets_response_to_lst(users_tweets,users_tweets_2022_july_lst)

        if users_tweets.meta["next_token"] is not None:
            next_token = users_tweets.meta["next_token"]
        else:
            finished = True
    
# transform the list to a dataframe
twitter_users_tweets_2022_july_df = pd.DataFrame(users_tweets_2022_july_lst)
twitter_users_tweets_2022_july_df.head(10)

KeyError: 'next_token'

In [ ]:
# check the tweets per author id
twitter_users_tweets_2022_july_df.groupby(['tweet_author_id'])['tweet_author_id'].count()

In [13]:
save the data to a csv file
twitter_users_tweets_2022_july_df.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_users_tweets_2022_july.csv', index = False, header=True)

In [20]:
# users_tweets.meta["next_token"]

'7140dibdnow9c7btw422nhyc3xe5bcr6z6kxe16oy154l'

In [14]:
# tweet_details = [[tweet.geo, tweet.text, tweet.user.screen_name, tweet.user.location] for tweet in tweets]
# tweet_df = pd.DataFrame(data=tweet_details, columns=["geo","text","user","location"])
# tweet_df.head()