# Sentiment Analysis of Tweets

## import librairies

In [1]:
# pip install vaderSentiment

In [2]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [3]:
# test the analyser

analyser.polarity_scores("The weather is nice.")

{'neg': 0.0, 'neu': 0.517, 'pos': 0.483, 'compound': 0.4215}

In [4]:
import pandas as pd
import numpy as np
import regex as re

## read tweets into a dataframe

In [5]:
# twitter_combined_tweet_labelled_data

twitter_combined_tweet_labelled_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_combined_tweet_labelled_data.csv')
twitter_combined_tweet_labelled_data.head()

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,...,tweet_quote_count,tweet_referenced_tweets,tweet_type,tweet_topic_label_us_political_news,contains_abortion_keyword,contains_gun_control_keyword,contains_gay_marriage_keyword,contains_climate_change_keyword,contains_gender_identity_keyword,contains_inflation_keyword
0,1543217089145716737,"Pentagon data shows a simple, troubling trend:...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:56:40+00:00,"{'urls': [{'start': 154, 'end': 177, 'url': 'h...",NaN,en,185,288,...,108,NaN,tweet,False,False,False,False,False,False,False
1,1543211077772759042,Rescue services in Hong Kong say an industrial...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:32:47+00:00,"{'urls': [{'start': 162, 'end': 185, 'url': 'h...",NaN,en,22,8,...,0,NaN,tweet,False,False,False,False,False,False,False
2,1543205864881983489,In the wake of the Supreme Courtâ€™s ruling on R...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:12:04+00:00,"{'urls': [{'start': 239, 'end': 262, 'url': 'h...",NaN,en,22,20,...,1,NaN,tweet,False,True,False,False,False,False,False
3,1543200664024760321,If legislation banning or restricting abortion...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 11:51:24+00:00,"{'urls': [{'start': 166, 'end': 189, 'url': 'h...",NaN,en,49,36,...,6,NaN,tweet,False,True,False,False,False,False,False
4,1543193997329457157,â€œWe imagined this thing being a fairytale and ...,28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-02 11:24:54+00:00,"{'urls': [{'start': 172, 'end': 195, 'url': 'h...",NaN,en,11,8,...,0,NaN,tweet,False,False,False,False,False,False,False

In [37]:
twitter_combined_tweet_labelled_data.shape

(158515, 22)

## test the analyser

In [6]:
tweet_data = twitter_combined_tweet_labelled_data

In [7]:
tweet_text = tweet_data.tweet_text[0]
tweet_text

'Pentagon data shows a simple, troubling trend: Fewer and fewer young Americans want to serve, and due to obesity and other problems, fewer are qualified. https://t.co/XjmyvZHfZS'

In [8]:
analyser.polarity_scores(tweet_text)

{'neg': 0.203, 'neu': 0.754, 'pos': 0.043, 'compound': -0.7096}

In [9]:
analyser.polarity_scores(":)")

{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.4588}

In [10]:
analyser.polarity_scores("ðŸ˜€")

{'neg': 0.0, 'neu': 0.286, 'pos': 0.714, 'compound': 0.3612}

In [11]:
analyser.polarity_scores("That is good")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [12]:
analyser.polarity_scores("That is GOOD")

{'neg': 0.0, 'neu': 0.355, 'pos': 0.645, 'compound': 0.5622}

In [13]:
analyser.polarity_scores("That is good.")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [14]:
analyser.polarity_scores("That is Good.")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [15]:
analyser.polarity_scores("That is Good!")

{'neg': 0.0, 'neu': 0.385, 'pos': 0.615, 'compound': 0.4926}

In [16]:
analyser.polarity_scores("That is good...")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [17]:
analyser.polarity_scores("That is 1 good.")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [18]:
analyser.polarity_scores("That is not good.")

{'neg': 0.445, 'neu': 0.555, 'pos': 0.0, 'compound': -0.3412}

In [19]:
analyser.polarity_scores("That is 'good'.")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [20]:
analyser.polarity_scores("That is good :).")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [21]:
analyser.polarity_scores("That is #good.")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [22]:
analyser.polarity_scores("Is that good?")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

In [23]:
analyser.polarity_scores("That is good @123.")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [24]:
analyser.polarity_scores("That is good https://github.com/.")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [25]:
analyser.polarity_scores("That is $ good")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [26]:
analyser.polarity_scores("That is $1 good")

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [27]:
analyser.polarity_scores("That is: good")

{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404}

## text preprocessing

In [28]:
#cleaning the tweets
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)        
    return input_txt
def clean_tweets(tweets):
    #remove twitter handles (@xxx)
    tweets = np.vectorize(remove_pattern)(tweets, "@[\w]*")
    
    #remove URL links (httpxxx)
    tweets = np.vectorize(remove_pattern)(tweets, "(?:(?:https?|ftp|file)://|www.[A-Za-z0-9./]+)(?:[A-Za-z0-9./]*)")
    
    #remove currency sympols ($Â£â‚¬)
    tweets = np.vectorize(remove_pattern)(tweets, "\p{Sc}")
    
    #remove numbers (httpxxx)
    #tweets = np.vectorize(remove_pattern)(tweets, "\d+")
    
    #remove special characters, numbers, punctuations (except for #)
    #tweets = np.core.defchararray.replace(tweets, "[^a-zA-Z]", " ")
    
    return tweets

In [29]:
tweet_data['cleaned_tweet_text'] = clean_tweets(tweet_data['tweet_text'])
tweet_data['cleaned_tweet_text'].head()

0    Pentagon data shows a simple, troubling trend:...
1    Rescue services in Hong Kong say an industrial...
2    In the wake of the Supreme Courtâ€™s ruling on R...
3    If legislation banning or restricting abortion...
4    â€œWe imagined this thing being a fairytale and ...
Name: cleaned_tweet_text, dtype: object

In [30]:
tweet_text = tweet_data.tweet_text[0]
cleaned_tweet_text = tweet_data.cleaned_tweet_text[0]

print("original_tweet_text:",tweet_text, "\nscores",analyser.polarity_scores(tweet_text),
      "\n\ncleaned_tweet_text:",cleaned_tweet_text, "\nscores",analyser.polarity_scores(cleaned_tweet_text))

original_tweet_text: Pentagon data shows a simple, troubling trend: Fewer and fewer young Americans want to serve, and due to obesity and other problems, fewer are qualified. https://t.co/XjmyvZHfZS
scores {'neg': 0.203, 'neu': 0.754, 'pos': 0.043, 'compound': -0.7096}

cleaned_tweet_text: Pentagon data shows a simple, troubling trend: Fewer and fewer young Americans want to serve, and due to obesity and other problems, fewer are qualified.
scores {'neg': 0.21, 'neu': 0.746, 'pos': 0.044, 'compound': -0.7096}

In [31]:
tweet_text = tweet_data.tweet_text[1]
cleaned_tweet_text = tweet_data.cleaned_tweet_text[1]

print("original_tweet_text:",tweet_text, "\nscores",analyser.polarity_scores(tweet_text),
      "\n\ncleaned_tweet_text:",cleaned_tweet_text, "\nscores",analyser.polarity_scores(cleaned_tweet_text))

original_tweet_text: Rescue services in Hong Kong say an industrial support ship operating in the South China Sea has sunk with the possible loss of more than two dozen crew members. https://t.co/TKDSoWTjdj
scores {'neg': 0.065, 'neu': 0.765, 'pos': 0.17, 'compound': 0.5719}

cleaned_tweet_text: Rescue services in Hong Kong say an industrial support ship operating in the South China Sea has sunk with the possible loss of more than two dozen crew members.
scores {'neg': 0.067, 'neu': 0.758, 'pos': 0.175, 'compound': 0.5719}

In [32]:
# save the data to a csv file
tweet_data.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_combined_tweet_labelled_cleaned_data.csv', index = False, header=True)

In [33]:
tweet_polarity_scores = []

for i in range(tweet_data['cleaned_tweet_text'].shape[0]):
    tweet_id = tweet_data['tweet_id'][i]
    compound = analyser.polarity_scores(tweet_data['cleaned_tweet_text'][i])["compound"]
    pos = analyser.polarity_scores(tweet_data['cleaned_tweet_text'][i])["pos"]
    neu = analyser.polarity_scores(tweet_data['cleaned_tweet_text'][i])["neu"]
    neg = analyser.polarity_scores(tweet_data['cleaned_tweet_text'][i])["neg"]
    
    tweet_polarity_scores.append({"tweet_id": tweet_id,
                       "scores_compound": compound,
                       "scores_positive": pos,
                       "scores_negative": neg,
                       "scores_neutral": neu
                  })

tweet_sentiments_score = pd.DataFrame.from_dict(tweet_polarity_scores)
tweet_sentiments_score.head()

,tweet_id,scores_compound,scores_positive,scores_negative,scores_neutral
0,1543217089145716737,-0.7096,0.044,0.210,0.746
1,1543211077772759042,0.5719,0.175,0.067,0.758
2,1543205864881983489,0.3892,0.107,0.052,0.841
3,1543200664024760321,-0.5719,0.000,0.176,0.824
4,1543193997329457157,0.0000,0.000,0.000,1.000

In [38]:
tweet_sentiments_score.shape

(158515, 5)

In [39]:
tweet_sentiments_score.isnull().sum()

tweet_id           0
scores_compound    0
scores_positive    0
scores_negative    0
scores_neutral     0
dtype: int64

In [34]:
# save the data to a csv file
tweet_sentiments_score.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_tweet_sentiments_score_data.csv', index = False, header=True)