# Tweet Label

## import librairies

In [1]:
import pandas as pd
import numpy as np
import re

## read tweets into a dataframe

In [28]:
twitter_combined_tweet_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_combined_tweet_data_2022_july_august.csv')
twitter_combined_tweet_data.head()

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1543217089145716737,"Pentagon data shows a simple, troubling trend:...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:56:40+00:00,"{'urls': [{'start': 154, 'end': 177, 'url': 'h...",NaN,en,185,288,471,108,NaN
1,1543211077772759042,Rescue services in Hong Kong say an industrial...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:32:47+00:00,"{'urls': [{'start': 162, 'end': 185, 'url': 'h...",NaN,en,22,8,43,0,NaN
2,1543205864881983489,In the wake of the Supreme Court’s ruling on R...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:12:04+00:00,"{'urls': [{'start': 239, 'end': 262, 'url': 'h...",NaN,en,22,20,65,1,NaN
3,1543200664024760321,If legislation banning or restricting abortion...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 11:51:24+00:00,"{'urls': [{'start': 166, 'end': 189, 'url': 'h...",NaN,en,49,36,98,6,NaN
4,1543193997329457157,“We imagined this thing being a fairytale and ...,28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-02 11:24:54+00:00,"{'urls': [{'start': 172, 'end': 195, 'url': 'h...",NaN,en,11,8,59,0,NaN

In [16]:
twitter_combined_tweet_data.shape

(209001, 13)

## label tweet

In [17]:
conditions = [
    (twitter_combined_tweet_data['tweet_in_reply_to_user_id'].isnull() == False),
    (twitter_combined_tweet_data['tweet_referenced_tweets'].isnull() == False) ,
    (twitter_combined_tweet_data['tweet_in_reply_to_user_id'].isnull() & 
     (twitter_combined_tweet_data['tweet_referenced_tweets'].isnull()))
    ]

values = ['reply', 'retweet', 'tweet']


twitter_combined_tweet_data['tweet_type'] = np.select(conditions,values)
twitter_combined_tweet_data.groupby(['tweet_type'])['tweet_type'].count()

tweet_type
reply        5820
retweet     16586
tweet      186595
Name: tweet_type, dtype: int64

In [18]:
# twitter entity topic labels contains "US Political News"

twitter_combined_tweet_data['tweet_topic_label_us_political_news'] = np.where(twitter_combined_tweet_data['tweet_entities'].str.contains("US Political News"), True, False)
twitter_combined_tweet_data.groupby(['tweet_topic_label_us_political_news'])['tweet_topic_label_us_political_news'].count()

tweet_topic_label_us_political_news
False    208785
True        216
Name: tweet_topic_label_us_political_news, dtype: int64

In [19]:
# topic keywords, glossary

abortion_keyword_lst = ["abortion", 
                        "planned parenthood",
                        "termination of pregnancy",
                        "pregnancy termination",
                        "end a pregnancy",
                        "reproductive",
                        "reproduction",
                        "pro-life",
                        "pro life",
                        "pro-choice",
                        "pro choice",
                        "anti-abortion",
                        "fetal viability",
                        "ensoulment",
                        "fetal rights",
                        "roe v. wade",
                        "roe v wade",
                        "dobbs v. jackson",
                        "dobbs v jackson",
                        "pregnant woman's right",
                        "pregnant womans right"
                       ]
gun_control_keyword_lst = ["gun",
                           "guns",
                           "second amendment",
                           "firearm",
                           "national firearm's act",
                           "national firearms act",
                           "nfa",
                           "bear arms",
                           "rifle",
                           "nra",
                           "gunowners",
                           "goa",
                           "anti-gun",
                           "weapon",
                           "brady law",
                           "strawman purchase",
                           "open carry",
                           "Stand-your-ground law",
                           "Stand your ground",
                           "concealed carry",
                           "armed"
                          ]
gay_marriage_keyword_lst = ["gay marriage",
                            "same sex",
                            "same-sex",
                            "lgbt marriage",
                            "lesbian marriage",
                            "civil partnership",
                            "marriage act",
                            "gay rights",
                            "civil union"
                           ]
climate_change_keyword_lst = ["climate",
                              "global warming",
                              "extreme weather",
                              "carbon",
                              "co2",
                              "ecosystem",
                              "greenhouse effect",
                              "greenhouse gas",
                              "green energy",
                              "renewable energy",
                              "sustainable energy",
                              "primary energy",
                              "renewables",
                              "sea-level",
                              "sea level",
                              "sea surface",
                              "unfccc",
                              "cop",
                              "indc",
                              "ipcc",
                              "ppm",
                              "environment friendly",
                              "environment-friendly"
                              "environmentally friendly",
                              "environmentally-friendly",
                              "eco friendly",
                              "eco-friendly",
                              "annex ii",
                              "annex i",
                              "aosis",
                              "ets",
                              "global average temperature",
                              "lulucf",
                              "methane",
                              "alternative energy",
                              "emissions",
                              "heat wave"
                             ]
gender_identity_keyword_lst = ["gender",
                               "lgbt",
                               "sexual orientation",
                               "lesbian",
                               "bisexual",
                               "gay", 
                               "trans", 
                               "transgender"
                               "queer",
                               "2spirited", 
                               "intersex",
                               "asexual",
                               "pansexual",
                               "cisgender",
                               "non-binary identity",
                               "non binary identity",
                               "dsd",
                               "intersex"
                              ]
inflation_keyword_lst = ["inflation",
                         "global economy",
                         "recession",
                         "energy price",
                         "property price",
                         "interest rates",
                         "oil price",
                         "deflation",
                         "cost of living",
                         "financial crisis",
                         "food cost",
                         "food price",
                         "price rise",
                         "energy bill"
                        ]

In [20]:
# label tweets that contains keywords in abortion_keyword_lst

# abortion_keyword_rgx = '\\b(?:' + '|'.join(abortion_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_abortion_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(abortion_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_abortion_keyword','tweet_type'])['tweet_id'].count()

contains_abortion_keyword  tweet_type
False                      reply           5631
                           retweet        16239
                           tweet         181628
True                       reply            189
                           retweet          347
                           tweet           4967
Name: tweet_id, dtype: int64

In [21]:
# label tweets that contains keywords in gun_control_keyword_lst

# gun_control_keyword_rgx = '\\b(?:' + '|'.join(gun_control_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_gun_control_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(gun_control_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_gun_control_keyword','tweet_type'])['tweet_id'].count()

contains_gun_control_keyword  tweet_type
False                         reply           5611
                              retweet        16187
                              tweet         181073
True                          reply            209
                              retweet          399
                              tweet           5522
Name: tweet_id, dtype: int64

In [22]:
# label tweets that contains keywords in gay_marriage_keyword_lst

# gay_marriage_keyword_rgx = '\\b(?:' + '|'.join(gay_marriage_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_gay_marriage_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(gay_marriage_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_gay_marriage_keyword','tweet_type'])['contains_gay_marriage_keyword'].count()

contains_gay_marriage_keyword  tweet_type
False                          reply           5814
                               retweet        16561
                               tweet         186287
True                           reply              6
                               retweet           25
                               tweet            308
Name: contains_gay_marriage_keyword, dtype: int64

In [23]:
# label tweets that contains keywords in climate_change_keyword

# climate_change_keyword_rgx = '\\b(?:' + '|'.join(climate_change_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_climate_change_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(climate_change_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_climate_change_keyword','tweet_type'])['tweet_id'].count()

contains_climate_change_keyword  tweet_type
False                            reply           5485
                                 retweet        15843
                                 tweet         176923
True                             reply            335
                                 retweet          743
                                 tweet           9672
Name: tweet_id, dtype: int64

In [24]:
# label tweets that contains keywords in gender_identity_keyword_lst

# gender_identity_keyword_rgx = '\\b(?:' + '|'.join(gender_identity_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_gender_identity_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(gender_identity_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_gender_identity_keyword','tweet_type'])['tweet_id'].count()

contains_gender_identity_keyword  tweet_type
False                             reply           5668
                                  retweet        16360
                                  tweet         182779
True                              reply            152
                                  retweet          226
                                  tweet           3816
Name: tweet_id, dtype: int64

In [25]:
# label tweets that contains keywords in inflation_keyword_lst

# gender_identity_keyword_rgx = '\\b(?:' + '|'.join(nflation_keyword_lst) + ')\\b'

twitter_combined_tweet_data['contains_inflation_keyword'] = twitter_combined_tweet_data['tweet_text'].str.lower().str.contains('|'.join(inflation_keyword_lst))

twitter_combined_tweet_data.groupby(['contains_inflation_keyword','tweet_type'])['tweet_id'].count()

contains_inflation_keyword  tweet_type
False                       reply           5676
                            retweet        16124
                            tweet         180394
True                        reply            144
                            retweet          462
                            tweet           6201
Name: tweet_id, dtype: int64

In [26]:
twitter_combined_tweet_data.shape

(209001, 21)

In [27]:
# save the data to a csv file
twitter_combined_tweet_data.to_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_combined_tweet_labelled_data.csv', index = False, header=True)