# Tweet Label

## import librairies

In [1]:
import pandas as pd
import numpy as np

## read tweets into a dataframe

In [2]:
twitter_combined_tweet_data = pd.read_csv (r'/Users/katherina/data_science_tweets_neutrality/twitter_combined_tweet_data.csv')
twitter_combined_tweet_data.head()

,tweet_id,tweet_text,tweet_author_id,tweet_context_annotations,tweet_created_at,tweet_entities,tweet_in_reply_to_user_id,tweet_lang,tweet_retweet_count,tweet_reply_count,tweet_like_count,tweet_quote_count,tweet_referenced_tweets
0,1543217089145716737,"Pentagon data shows a simple, troubling trend:...",28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:56:40+00:00,"{'urls': [{'start': 154, 'end': 177, 'url': 'h...",NaN,en,185,288,471,108,NaN
1,1543211077772759042,Rescue services in Hong Kong say an industrial...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:32:47+00:00,"{'urls': [{'start': 162, 'end': 185, 'url': 'h...",NaN,en,22,8,43,0,NaN
2,1543205864881983489,In the wake of the Supreme Court’s ruling on R...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 12:12:04+00:00,"{'urls': [{'start': 239, 'end': 262, 'url': 'h...",NaN,en,22,20,65,1,NaN
3,1543200664024760321,If legislation banning or restricting abortion...,28785486,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-02 11:51:24+00:00,"{'urls': [{'start': 166, 'end': 189, 'url': 'h...",NaN,en,49,36,98,6,NaN
4,1543193997329457157,“We imagined this thing being a fairytale and ...,28785486,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2022-07-02 11:24:54+00:00,"{'urls': [{'start': 172, 'end': 195, 'url': 'h...",NaN,en,11,8,59,0,NaN

## label tweet

In [21]:
conditions = [
    (twitter_combined_tweet_data['tweet_in_reply_to_user_id'].isnull() == False),
    (twitter_combined_tweet_data['tweet_referenced_tweets'].isnull() == False) ,
    (twitter_combined_tweet_data['tweet_in_reply_to_user_id'].isnull() & 
     (twitter_combined_tweet_data['tweet_referenced_tweets'].isnull()))
    ]

values = ['reply', 'retweet', 'tweet']


twitter_combined_tweet_data['tweet_type'] = np.select(conditions,values)
twitter_combined_tweet_data.groupby(['tweet_type'])['tweet_type'].count()

tweet_type
reply        4036
retweet     11605
tweet      120929
Name: tweet_type, dtype: int64

In [8]:
# twitter entity topic labels contains "US Political News"

twitter_combined_tweet_data['tweet_topic_label_us_political_news'] = np.where(twitter_combined_tweet_data['tweet_entities'].str.contains("US Political News"), True, False)
twitter_combined_tweet_data.groupby(['tweet_topic_label_us_political_news'])['tweet_topic_label_us_political_news'].count()

tweet_topic_label_us_political_news
False    136425
True        145
Name: tweet_topic_label_us_political_news, dtype: int64

In [ ]:
# topics keywords

abortion_keyword_lst = ["abortion", "planned parenthood"]
gun_control_keyword_lst = ["gun","armed"]
gay_marriage_keyword_lst = ["gay marriage","same sex marriage"]
climate_change_keyword_lst = ["climate change","global warming","extreme weather"]
gender_identity_keyword_lst = ["gender identity"]